.about-section {
  width: 100vw;
  background-color: #70DBFB;
  padding-top: 3em;
}
.about-section {
  display: flex;
  flex-direction: row;
  flex:1;
  transition: all .3s ease-in;
}
.about-section-div {
  display: flex;
  flex-direction: row;
}
.about-section .project-skills {
  display: flex;
  flex-direction: row;
}
.about-text {
  flex: 1;
  padding-right: 0;
  padding-left: 1em;
}
.about-text a {
  font-weight: bold;
}
.about-text p {
  margin-bottom: 1em;
}
.about-image {
  padding: 0 2em;
  /* text-align: center; */
}
.profile-img {
  max-width: 40vw;
  min-width: 40vw;
}
@media only screen and (max-width : 650px) {
  .about-section-div {
    display: flex;
    flex-direction: column;
  }
  .project-links {
    margin-bottom: 2em;
  }
  .about-image {
    padding: 0 1em;
    text-align: left;
  }
  .profile-img {
    min-width: 70vw;
  }
  .about-text {
    flex: 0;
    padding-right: 3em;
  }
}
